@media (max-width: 610px) {
  .header {
    &__menu {
      a:nth-of-type(4) {
        display: none;
      }

    }
  }
  .sidebar {

    &__content {
      &-btn {
        width: 25px;
        height: 25px;
        top: 10px;
        right: 16px;
      }
    }

    &__contacts {
      padding: 30px 20px 20px 20px;

      span {
        margin-bottom: 20px;
      }

      flex-direction: column;
      gap: 10px;
    }

    .navigation {

      &__item-active img {
        transition: transform 0.3s ease-in-out;
        transform-origin: center;
      }

      &__item-active img.rotated {
        transform: rotate(90deg);
      }

      nav {
        border: none;
        padding: 40px 20px 0 20px;
        max-width: none;

        #submenu-container {
          display: none;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.4);

          .navigation__active-submenu {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding-bottom: 20px;

            a {
              font-size: 18px;
            }
          }
        }
      }

      &__active {
        display: none;
      }
    }
  }
}

@media (max-width: 510px) {
  .header {
    &__menu a {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__menu a:first-child {
      display: none;
    }

    &__logo {
      font-size: 24px;
      padding-right: 10px;
    }

    &__burger-icon {
      width: 36px;
      height: 36px;
    }
  }
}